:root {
    --brand-teal: #7C8B8B;
    --brand-teal-light: #A9BCBC;
    --brand-black: #262525;
    --brand-red: #E0181D;
    --brand-gold: #868154;

}
  
$brand-teal: #7C8B8B;
$brand-teal-light: #A9BCBC;
$brand-black: #262525;
$brand-red: #E0181D;
$brand-gold: #868154;

$black: var(--brand-black);
$grey: #F0F2F2;
$white: #fff;
  
$mobile: 768px;