.custom-product-slick-slider {
    margin-left: -40px;

  .mixes-slider .slide {
    display: grid;
    width: 100%;
    grid-template-columns: 33% 67%;
    @media (max-width: 1024px) {
        padding-bottom: 60px;
    }
  }

    .image-inner {
        img {
            // min-height: 612px;
            object-fit: cover;
            height: 100%;
        }
    }

    .slide-content {
        position: relative;
        z-index: 1000;
        padding-left: clamp(20px, 5vw, 96px);
        padding-right: clamp(40px, 12vw, 500px);
        align-content: center;
        display: flex;
        flex-wrap: wrap;

      h2 {
        margin-top: 60px;
        text-transform: uppercase; 
        
        margin-bottom: 22px;
      }

      h3 {
        font-size: clamp(16px, 1.4vw, 22px);
        text-transform: uppercase;
        margin-bottom: 16px;
      }

      p,
      li,
      span {
        font-weight: 300;
      }

      p {
        margin-bottom: 20px;
      }

      .stats {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 4rem;
        ul {
          margin: 0;
          padding: 0;

          li {
            list-style: none;
            margin: 4px 0;
          }
        }
      }

      .wrapper {
        display: grid;
        grid-template-columns: 1fr 4fr;
        column-gap: 1rem;

        p {
            margin-bottom: 5px;
            margin-top: 5px;
            font-weight: 600;
        }

        img {
            margin: 0;
        }
        div {
            display: flex;
            align-items: center;
        }
        &.padding-top {
            padding-top: 2rem;
        }
      }
    }

  a.btn-primary {
    background: var(--brand-teal);
    padding: 16px 80px 12px;
    color: white;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    position: relative;
    z-index: 1000;
    margin-bottom: 10px;
    margin-top: 40px;
    display: inline-block;
  }
}

.slider-container {
    position: relative;
}

.slick-prev {
    right: 250px;
    top: 75%;

    @media (max-width: 1200px) {
        right: 116px;
    }

    @media (max-width: 1024px) {
        right: 0;
        left: 0;
    }
}

.slick-next {
    right: 175px;
    top: 75%;
    position: relative;

    @media (max-width: 1200px) {
        right: 20px;
    }

    @media (max-width: 1024px) {
        right: 0;
        left: 0;
    }

    span {
        color: var(--brand-teal);
        -webkit-text-stroke: 0px black;
        display: block;
        position: absolute;
        left: -38px;
        text-transform: uppercase;
        bottom: -20px;
        font-size: 18px;

        @media (max-width: 1200px) {
            bottom: -30px;
        }

        @media (max-width: 1024px) {
            display: none;
        }
    }
}

.slick-next,
.slick-prev {
    position: absolute;
    background: transparent;
    border: none;
    height: 100px;
    z-index: 100;
    padding: 0;
    width: 100px;

    @media (max-width: 1200px) {
        height: auto;
        // transform: translateY(-140%);
    }

    @media (max-width: 2000px) {
        top: 80%;
    }

    @media (max-width: 1200px) {
        top: 82%;
    }

    @media (max-width: 1024px) {
        top: unset;
        bottom: 0;
    }

    &:focus,
    &:hover {
        background: transparent;
        border: none;
        outline: none;
        position: absolute;
        // top: unset;
    }

    i {
        color: black;
        font-size: 60px;
        -webkit-text-stroke: 3px white;
        height: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;

        @media (max-width: 1024px) {
            -webkit-text-stroke: 1px white;
        }

    }    
}


@media screen and (max-width: 1024px) {
    .custom-product-slick-slider {
        margin-left: 0;
        margin-top: 20px;

        .mixes-slider,
        .track-materials-slider,
        .batters-box-slider,
        .track-materials-slider {
            .slide {
                display: block;
                margin-bottom: 60px;

                .image-inner {
                    margin-bottom: 60px;

                    img {
                        width: 100%;
                        // max-height: 200px;
                        // min-height: 200px;
                    }
                }

                .slide-content {
                    padding: 0 100px;
                    a.btn-primary {
                        font-size: 14px;
                    }
                    a.btn-primary {
                        font-size: 14px;
                    }
                }

                
            }
        }

        .slick-next,
        .slick-prev {
            width: 50px;
            transform: translateY(0);
            height: 100%;

            i {
                font-size: 26px;
            }
        }

        .slick-next {
            right: 0;
            left: unset;
        }
    }

    .slider-nav-container {
        position: unset;
        display: none;
    }

    .custom-product-slick-slider {
        .slide-content {
            h2 {
                margin-top: 10px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .custom-product-slick-slider {
        .mixes-slider,
        .track-materials-slider,
        .batters-box-slider,
        .track-materials-slider {
            .slide {
                .slide-content {
                    padding: 0 40px;
                    .stats {
                        display: block;

                        h3 {
                            margin-top: 40px;
                        }
                    }
                    a.btn-primary {
                        display: block;
                        text-align: center;
                    }
                }
            }
        }
        .slick-prev,
        .slick-next {
            i {
                padding: 0;
            }
        }

        .slick-prev {
            left: -20px;
        }
        .slick-next {
            right: -20px;
        }
    } 
}