
.custom-contact-form form {
    --wpforms-label-error-color: rgb(142, 0, 0);
    label {
        color: white !important;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 1rem !important;
        font-size: clamp(14px, 1.5vw, 22px) !important;
    }

    input, textarea {
        border-radius: 0 !important;
        padding: 2.5rem 1rem !important;
    }

    .custom-contact-form-submit {
        padding: 2.5rem 10rem 2rem !important;
        min-height: unset !important;
        height: unset !important;
        border-radius: 50px !important;
        background-color: #9BA9BA !important;
        font-size: clamp(14px, 1.5vw, 22px) !important;
        font-weight: 600 !important;
        letter-spacing: 1px;
        text-transform: uppercase;
        box-shadow: none !important;
        transition: all 0.2s ease-in-out !important;

        &:hover {
            background: black !important;
        }
    }
}

div.wpforms-container-full .wpforms-confirmation-container-full, div[submit-success]>.wpforms-confirmation-container-full:not(.wpforms-redirection-message) {
    background: transparent;
    color: white;
    border: 2px solid white;
    padding: 4rem;
}